.container
  .row
    .col-lg-12
      .bs-docs-section
        .row
          .col-lg-6
            %h2.line 田中真奈のページ
.container
  .row
    .col-lg-6.blank
      .bs-component
        .panel.panel-info
          .panel-heading
            %h3.panel-title 基本情報
        %table.table.table-striped.table-hover
          %tbody
            %tr
              %td.column 名前
              %td 田中真奈
            %tr.info
              %td.column メールアドレス
              %td test@gmail.com
            %tr
              %td.column 大学
              %td 大阪大学
            %tr.info
              %td.column 学部
              %td 経済学部
        .panel.panel-warning
          .panel-heading EDUPEDIA内の活動
        %table.table.table-striped.table-hover
          %tbody
            %tr
              %td.column 名前
              %td 田中真奈
            %tr.warning
              %td.column メールアドレス
              %td test@gmail.com
            %tr
              %td.column 大学
              %td 大阪大学
            %tr.warning
              %td.column 学部
              %td 経済学部
    .col-lg-6
      .bs-component
        .panel.panel-danger
          .panel-heading
            %h3.panel-title パーソナリティ
        %table.table.table-striped.table-hover
          %tbody
            %tr
              %td.column 名前
              %td 田中真奈
            %tr.danger
              %td.column メールアドレス
              %td test@gmail.com
            %tr
              %td.column 大学
              %td 大阪大学
            %tr.danger
              %td.column 学部
              %td 経済学部
        .panel.panel-success
          .panel-heading
            %h3.panel-title EDUPEDIA外の活動
        %table.table.table-striped.table-hover
          %tbody
            %tr
              %td.column 名前
              %td 田中真奈
            %tr.success
              %td.column メールアドレス
              %td test@gmail.com
            %tr
              %td.column 大学
              %td 大阪大学
            %tr.success
              %td.column 学部
              %td 経済学部
